@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

* {
	font-family: Baloo;
}
h1 {
	text-align: center;

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #212121;
	border-bottom: solid #777 2px;
	text-align: center;
}