@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

* {
	font-family: 'Roboto', Sans-serif;
}

body {
	margin: 0;
	background-color: #212121;
    color: #ededed;
}

h1, h2, h3, header nav ul li a {
	padding: 0;
	margin: 0;
	font-family: 'Baloo', cursive;
}

h1 {
	font-size: 4em;
	margin: 2px;
}

h2 {
	font-size: 2.5em;
	margin: 2px;
}
 
h3 {    
	font-size: 1.90em;
}

h4 {
    font-size: 1.90em;
}

h5 {
	font-size: 1.90em;
}

header {
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #212121;
	border-bottom: solid #777 2px;
}

header img, header nav {
	display: inline-block;
	vertical-align: top;
}

header img {
	width: 200px;
	transition: ease 0.3s all;
	margin: 10px;
	padding: 10px;
}

header img:hover {
	width: 235px
}

header img {
	list-style-type: none;
	padding: 0;
}

header nav ul li {
	display: inline-block;
	padding: 10px 20px;
}

header nav ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #ededed;
}


main {
	padding: 90px 0 0 0;
	max-width: 60%;
	margin: auto;
}

section, h1 {
	padding: 20px 40px
}

main section ul {
	text-decoration: none;
}

section a {
	color: #ededed;
	text-align: center;
}

